/*
 * Estilos de tu proyecto
 */
 body {
 	text-align: center;
 }

 /*formato primeros tres div*/
.wrap {
	background-color: #fff;
	float: left;
	width: 33%;
}
.wrap_1 {
	background-color: #F8F7F6;
	display: inline-block;

}
