/*
 * Estilos de tu proyecto
 */
body {
	margin: 0 auto;
	background-color: #f7f7f7;
	color: #2f2f2f;
	text-align: center;
	font-family: "FaktProSoft", "Helvetica Neue", helvetica, arial, sans-serif;
}
a {
	text-decoration: none;
	color: #2f2f2f;
}

.back {
	font-size: 1.5em;
	font-weight: bolder;

}
.boton {
	padding: 1em 3em;
	float: right;
	margin-right: 10em;
	margin-top: 1em;
	background-color: ##e0e0e0;
}
.boton:hover {
	background-color: #fcb000;
}

.logo {
	width: 15%;
	height: 10%;
}

.fa-bars, .fa-times {
	float: right;
	margin-right: 1em;
	margin-top: .5em;
	font-size: 2em;
}

.navegacion {
	background-color: #e0e0e0;
	text-align: left;
}

.lista1 {
	list-style: none;
}

.lista1 li {
	display: inline-block;
	padding: .5em;
    padding-top: 1.5em;
    font-weight: bolder;
    font-size: 1.2em;
    color: #2f2f2f;
}
.lineaAmarilla {
	border-bottom: .2em solid #fcbf00;
}

.noLinea {
	border-bottom: none;
}

#sedesLaboratoria {
	border: none;
	font-size: 2em;
	margin-left: 1.5em;
	padding-top: 1em;
	font-weight: bolder;
	color: #2f2f2f;
}


 /*formato primeros tres div*/
.textos {
	font-size: .7em;
}

.contenedor1 {
	overflow: hidden;
	clear: both;
}

.wrap {
	float: left;
	width: 33%;
	display: inline-block;
	margin-left: .2em;
	background-color: #F8F7F6;
}
.wrap_1 {
	background-color: #F8F7F6;
	display: inline-block;
}

#enrollment , #achievement, #promoter {
	background: #fff;
}

.container2 {
	background-color: #fff;
	margin-top: 1em;
	margin-left: 4.5em;
	width: 90%;
}

.techSkills, .lifeSkills {
	padding-top: 1em;
}

.wrap_2 {
	background-color: #F8F7F6;
}

.contenedor2 {
	overflow: hidden;
	clear: both;
	margin-top: 1em;
	margin-bottom: 3em;
}

.satisfaction, .teacher, .jedi {
	background: #fff;

}